<div class="flex items-center gap-2">
  <button
    matIconButton
    [routerLink]="'wishlist'"
    [matBadge]="store.wishlistItems().length"
    [matBadgeHidden]="store.wishlistItems().length == 0"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    matIconButton
    [routerLink]="'cart'"
    [matBadge]="store.cartItemCount()"
    [matBadgeHidden]="store.cartItemCount() == 0"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>

  @if (store.user(); as user) {
    <button matIconButton [matMenuTriggerFor]="userMenu">
      <img [src]="user.imageUrl" [alt]="user.name" class="w-8 h-8 rounded-full" />
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="flex flex-col px-3 min-w-50">
        <span class="text-sm font-medium">{{ user.name }}</span>
        <span class="text-xs text-gray-500">{{ user.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <button class="min-h-8!" mat-menu-item (click)="store.signOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  } @else {
    <button matButton (click)="openSignInDialog()">Sign In</button>
    <button matButton="filled" (click)="openSignUpDialog()">Sign Up</button>
  }
</div>